$yellow: #f4d35e;

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 1800px;
    
    .landing-img {
        max-width: 100%;
        height: auto;
        max-height: 770px;
        align-self: flex-end;
        // min-width: 300px;
        // min-height: 500px;
        // margin-left: 2.5em;
    }
}

.title-content {
    
    // height: 100%;
    // position: relative;
    // top: 0;

    .title {
        font-family: 'Russo One', sans-serif;
        font-size: 5em;
        margin-bottom: -10px;
    }

    .subtitle {
        // font-family: 'Russo One', sans-serif;
        font-size: 2.5em;
    }

    .call-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 1em;

    }

    a:link, a:visited {
        padding: 0.25em 1em;
        font-size: 2em;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: all 0.25s ease-in-out;
        border: 5px solid black;
    }

    a:hover, a:active {
        // color: $yellow;
        color: #000;
        font-weight: bold;
        font-size: 2em;
        background-color: transparent;
    }

}
