$bg-yellow: #f4d35e;

.navbar {
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    z-index: 100;
    transition: all 0.10s ease-in;

    .logo>a {
        font-family: 'Russo One', sans-serif;
        color: #fff;
        font-size: 2.5em;
        text-decoration: none;
        transition: 0.05s;

        &:hover {
            color: red;
        }
    }


    .nav-links {
        display: flex;
        justify-content: space-between;
        width: 500px;

        .link {
            font-family: 'Russo One', sans-serif;
            font-size: 1.5em;
            text-decoration: none;
            transition: 0.05s;
        }

        .link-black {
            color: #000;
            &:hover {
                color: #fff;
            }
        }
        .link-white {
            color: #fff;
            &:hover {
                color: $bg-yellow;
            }
        }
    }

    .alt-nav-links {
        display: flex;
        justify-content: space-between;
        width: 500px;

        .link {
            font-family: 'Russo One', sans-serif;
            color: #fff;
            font-size: 1.5em;
            text-decoration: none;
            transition:  0.025s;

            &:hover {
                color: $bg-yellow;
            }
        }

    }
}

.bg-solid {
    background-color: #000000;
}